flows.json
[
    {
        "id": "823a90b6444d4182",
        "type": "tab",
        "label": "Поток 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "84f90166b555a1dd",
        "type": "tab",
        "label": "Поток 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b4973237.46ab6",
        "type": "subflow",
        "name": "Process Simulation",
        "info": "",
        "in": [
            {
                "x": 37,
                "y": 103,
                "wires": [
                    {
                        "id": "ec719d4d.0d54f8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 880,
                "y": 300,
                "wires": [
                    {
                        "id": "ae1a6e5.d4c0d9",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "62293450df182d18",
        "type": "modbus-client",
        "name": "",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "COM3",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "19200",
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "cee88e7a3fe7715b",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "af766e4cc35c0f53",
        "type": "ui-theme",
        "name": "Theme Name",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "145221dc63cdd3d5",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "cee88e7a3fe7715b",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "af766e4cc35c0f53",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ba154b0bc211bcf0",
        "type": "ui-group",
        "name": "Group 1",
        "page": "145221dc63cdd3d5",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "80cd4062.93a5",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "c45a83a3.d00908",
        "type": "ui_group",
        "name": "PID",
        "tab": "80cd4062.93a5",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "7b02242ef32131c9",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c9866c41c7b3750d",
        "type": "ui-group",
        "name": "Group 2",
        "page": "145221dc63cdd3d5",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "7fe4b5c3.32e58c",
        "type": "function",
        "z": "b4973237.46ab6",
        "name": "30 sec RC + 20",
        "func": "// Applies a simple RC low pass filter to incoming payload values\nvar tc = 30*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue + 20;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 220,
        "wires": [
            [
                "ae1a6e5.d4c0d9"
            ]
        ]
    },
    {
        "id": "1bacd004.9753c",
        "type": "inject",
        "z": "b4973237.46ab6",
        "name": "Inject -0.2 at start",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "-0.2",
        "payloadType": "num",
        "x": 134.5,
        "y": 30,
        "wires": [
            [
                "ec719d4d.0d54f8"
            ]
        ]
    },
    {
        "id": "999a52c2.f465f",
        "type": "function",
        "z": "b4973237.46ab6",
        "name": "10 sec RC",
        "func": "// Applies a simple RC low pass filter to incoming payload values\nvar tc = 10*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 220,
        "wires": [
            [
                "7fe4b5c3.32e58c"
            ]
        ]
    },
    {
        "id": "ec719d4d.0d54f8",
        "type": "delay",
        "z": "b4973237.46ab6",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 268,
        "y": 104,
        "wires": [
            [
                "ede39236.1961f8"
            ]
        ]
    },
    {
        "id": "a823c9cf.2a6178",
        "type": "function",
        "z": "b4973237.46ab6",
        "name": "2 msg transport delay",
        "func": "// stores messages in a fifo until the specified number have been received, \n// then releases them as new messages are received.\n// during the filling phase the earliest message is passed on each time \n// a message is received, but it is also left in the fifo\nvar fifoMaxLength = 2;\nvar fifo = context.get('fifo') || [];\n// push the new message onto the top of the array, messages are shifted down and\n// drop off the front\nvar length = fifo.push(msg);  // returns new length\nif (length > fifoMaxLength) {\n    newMsg = fifo.shift();\n} else {\n    // not full yet, make a copy of the msg and pass it on\n    var newMsg = JSON.parse(JSON.stringify(fifo[0]));\n}\ncontext.set('fifo', fifo);\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 220,
        "wires": [
            [
                "999a52c2.f465f"
            ]
        ]
    },
    {
        "id": "ae1a6e5.d4c0d9",
        "type": "function",
        "z": "b4973237.46ab6",
        "name": "Clear all except payload",
        "func": "msg2 = {payload: msg.payload};\nreturn msg2;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "ede39236.1961f8",
        "type": "range",
        "z": "b4973237.46ab6",
        "minin": "0",
        "maxin": "1",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 80,
        "y": 220,
        "wires": [
            [
                "a823c9cf.2a6178"
            ]
        ]
    },
    {
        "id": "fb74d109b3ee753f",
        "type": "function",
        "z": "823a90b6444d4182",
        "name": "ADS1115 to uInt16",
        "func": "// Работа с ADS1115\n// Смотри \"Настройки\" функции\n// ADS1115 может работать в следующих режимах:\n// ads.setGain(GAIN_TWOTHIRDS); | 2/3х | +/-6.144V | 1bit = 0.1875mV    |   \n// ads.setGain(GAIN_ONE);       | 1х   | +/-4.096V | 1bit = 0.125mV     |  \n// ads.setGain(GAIN_TWO);       | 2х   | +/-2.048V | 1bit = 0.0625mV    |  \n// ads.setGain(GAIN_FOUR);      | 4х   | +/-1.024V | 1bit = 0.03125mV   |  \n// ads.setGain(GAIN_EIGHT);     | 8х   | +/-0.512V | 1bit = 0.015625mV  |  \n// ads.setGain(GAIN_SIXTEEN);   | 16х  | +/-0.256V | 1bit = 0.0078125mV |\nvar temp = msg.payload[0];\nvar analog_max = msg.payload[3];\nvar u = temp * 0.1875 / 1000.0;\nvar u_analog_max = analog_max * 0.1875 / 1000.0;\n///temp = temp * 6.144 / 5;\ntemp = analog_max / temp - 1;\ntemp = 4681 / temp; //сопротивление резистора\ntemp = temp / 99500; // сопротивление термистора при 25 гр.Цельсия\ntemp = Math.log(temp); // ln(R/Ro)\ntemp /= 4140 //коэффициент термистора\ntemp += 1.0 / (25 + 273.15); //номинальная температура термистора в Цельсии из Кельвинов\ntemp = 1.0 / temp; // Invert\ntemp -= 273.15;\ntemp = parseFloat(temp.toFixed(2))\nvar newMsg = { payload: temp, topic: \"3950\", u: u, u_analog_max: u_analog_max };\nflow.set(\"3950\", temp);\nreturn newMsg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 140,
        "wires": [
            [
                "0ff99a14ebfb9b10",
                "8778d74027af7dce",
                "3e02a7b2dbf6f53e",
                "d4df7bc2d1acc37d",
                "73382585b685ca5e"
            ]
        ]
    },
    {
        "id": "0ff99a14ebfb9b10",
        "type": "debug",
        "z": "823a90b6444d4182",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "abafe58262cd70c3",
        "type": "join",
        "z": "823a90b6444d4182",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 430,
        "y": 680,
        "wires": [
            [
                "adb84c4c34ab0b91"
            ]
        ]
    },
    {
        "id": "f3717be8817640c5",
        "type": "modbus-response",
        "z": "823a90b6444d4182",
        "name": "",
        "registerShowMax": 20,
        "x": 930,
        "y": 680,
        "wires": []
    },
    {
        "id": "eaa21c06efe4427e",
        "type": "modbus-read",
        "z": "823a90b6444d4182",
        "name": "Temp",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "4",
        "rate": "2000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "62293450df182d18",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 140,
        "wires": [
            [
                "fb74d109b3ee753f",
                "826e2c524e554fd6",
                "68b2e194ebd81ce8",
                "f3e88f5f9f04e025"
            ],
            []
        ]
    },
    {
        "id": "adb84c4c34ab0b91",
        "type": "modbus-write",
        "z": "823a90b6444d4182",
        "name": "",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "1",
        "quantity": "1",
        "server": "62293450df182d18",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 640,
        "y": 680,
        "wires": [
            [
                "f3717be8817640c5"
            ],
            []
        ]
    },
    {
        "id": "826e2c524e554fd6",
        "type": "debug",
        "z": "823a90b6444d4182",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 60,
        "wires": []
    },
    {
        "id": "438843f14e0e2a6c",
        "type": "debug",
        "z": "823a90b6444d4182",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 340,
        "wires": []
    },
    {
        "id": "68b2e194ebd81ce8",
        "type": "function",
        "z": "823a90b6444d4182",
        "name": "DS18B20",
        "func": "var temp = msg.payload[2] / 100;\nvar newMsg = { payload: temp, topic: \"DS18B20\" };\nflow.set(\"DS18B20\", temp);\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 280,
        "wires": [
            [
                "438843f14e0e2a6c",
                "94c5f166fc65cd0a",
                "8778d74027af7dce",
                "002bc1fc18ecdac3"
            ]
        ]
    },
    {
        "id": "94c5f166fc65cd0a",
        "type": "ui-text",
        "z": "823a90b6444d4182",
        "group": "ba154b0bc211bcf0",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "DS18B20",
        "label": "DS18B20",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "8778d74027af7dce",
        "type": "ui-chart",
        "z": "823a90b6444d4182",
        "group": "ba154b0bc211bcf0",
        "name": "Температура",
        "label": "chart",
        "order": 6,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Время",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Тепмература",
        "yAxisProperty": "temp",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 760,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "f3e88f5f9f04e025",
        "type": "function",
        "z": "823a90b6444d4182",
        "name": "Diff",
        "func": "var diff = flow.get(\"3950\") - flow.get(\"DS18B20\");\ndiff = parseFloat(diff.toFixed(2))\nvar newMsg = { payload: diff, topic: \"diff\" };\nreturn newMsg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 520,
        "wires": [
            [
                "6b035eeaf39f10be",
                "8b7e1f3750208737"
            ]
        ]
    },
    {
        "id": "6b035eeaf39f10be",
        "type": "ui-text",
        "z": "823a90b6444d4182",
        "group": "ba154b0bc211bcf0",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Diff",
        "label": "Diif",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 570,
        "y": 580,
        "wires": []
    },
    {
        "id": "8b7e1f3750208737",
        "type": "ui-chart",
        "z": "823a90b6444d4182",
        "group": "ba154b0bc211bcf0",
        "name": "Разница температур",
        "label": "Разница",
        "order": 7,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Время",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Температура",
        "yAxisProperty": "temp",
        "yAxisPropertyType": "property",
        "ymin": "-1.5",
        "ymax": "2",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 620,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "d4df7bc2d1acc37d",
        "type": "ui-text",
        "z": "823a90b6444d4182",
        "group": "ba154b0bc211bcf0",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Напряжение",
        "label": "Напряжение",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "u",
        "valueType": "msg",
        "x": 750,
        "y": 80,
        "wires": []
    },
    {
        "id": "d164a077dc599469",
        "type": "debug",
        "z": "823a90b6444d4182",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 340,
        "wires": []
    },
    {
        "id": "3e02a7b2dbf6f53e",
        "type": "ui-text",
        "z": "823a90b6444d4182",
        "group": "ba154b0bc211bcf0",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "3950",
        "label": "3950",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 750,
        "y": 180,
        "wires": []
    },
    {
        "id": "73382585b685ca5e",
        "type": "ui-text",
        "z": "823a90b6444d4182",
        "group": "ba154b0bc211bcf0",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "U analog",
        "label": "Напряжение",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "u_analog_max",
        "valueType": "msg",
        "x": 740,
        "y": 20,
        "wires": []
    },
    {
        "id": "30b3533e9d63811e",
        "type": "inject",
        "z": "823a90b6444d4182",
        "name": "enable",
        "props": [
            {
                "p": "payload",
                "v": "true",
                "vt": "bool"
            },
            {
                "p": "topic",
                "v": "enable",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "enable",
        "payload": "true",
        "payloadType": "bool",
        "x": 470,
        "y": 340,
        "wires": [
            [
                "002bc1fc18ecdac3"
            ]
        ]
    },
    {
        "id": "9c64e8a3058dfddc",
        "type": "inject",
        "z": "823a90b6444d4182",
        "name": "disable",
        "props": [
            {
                "p": "payload",
                "v": "false",
                "vt": "bool"
            },
            {
                "p": "topic",
                "v": "enable",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "enable",
        "payload": "false",
        "payloadType": "bool",
        "x": 470,
        "y": 400,
        "wires": [
            [
                "002bc1fc18ecdac3"
            ]
        ]
    },
    {
        "id": "a7d58aad73ca778c",
        "type": "inject",
        "z": "823a90b6444d4182",
        "name": "Setpoint 90",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "setpoint",
        "payload": "85",
        "payloadType": "num",
        "x": 470,
        "y": 460,
        "wires": [
            [
                "002bc1fc18ecdac3"
            ]
        ]
    },
    {
        "id": "5563c6d0b017a703",
        "type": "ui-text",
        "z": "823a90b6444d4182",
        "group": "c9866c41c7b3750d",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Выход PID",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1170,
        "y": 400,
        "wires": []
    },
    {
        "id": "30164256cea90386",
        "type": "range",
        "z": "823a90b6444d4182",
        "minin": "0",
        "maxin": "1",
        "minout": "0",
        "maxout": "150",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "Scale power",
        "x": 950,
        "y": 400,
        "wires": [
            [
                "5563c6d0b017a703"
            ]
        ]
    },
    {
        "id": "002bc1fc18ecdac3",
        "type": "PID",
        "z": "823a90b6444d4182",
        "name": "",
        "setpoint": "50",
        "pb": "22",
        "ti": "24",
        "td": "6",
        "integral_default": "0",
        "smooth_factor": "0",
        "max_interval": 600,
        "enable": "1",
        "disabled_op": "0",
        "x": 730,
        "y": 420,
        "wires": [
            [
                "30164256cea90386"
            ]
        ]
    },
    {
        "id": "96be278e27579f48",
        "type": "inject",
        "z": "823a90b6444d4182",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "90",
        "payloadType": "num",
        "x": 190,
        "y": 680,
        "wires": [
            [
                "abafe58262cd70c3"
            ]
        ]
    },
    {
        "id": "e0cb2a8c.4402a8",
        "type": "PID",
        "z": "84f90166b555a1dd",
        "name": "",
        "setpoint": "50",
        "pb": "22",
        "ti": "24",
        "td": "6",
        "integral_default": "0",
        "smooth_factor": "0",
        "max_interval": 600,
        "enable": "1",
        "disabled_op": "0",
        "x": 570,
        "y": 280,
        "wires": [
            [
                "5ec4239b.34e174",
                "e94f888a.130a88"
            ]
        ]
    },
    {
        "id": "f70949c8.aab988",
        "type": "change",
        "z": "84f90166b555a1dd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "op",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 360,
        "wires": [
            [
                "9f58a52d.076dd"
            ]
        ]
    },
    {
        "id": "2792f805.066c78",
        "type": "inject",
        "z": "84f90166b555a1dd",
        "name": "Setpoint 30",
        "props": [
            {
                "p": "payload",
                "v": "30",
                "vt": "num"
            },
            {
                "p": "topic",
                "v": "setpoint",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "setpoint",
        "payload": "30",
        "payloadType": "num",
        "x": 312,
        "y": 303,
        "wires": [
            [
                "e0cb2a8c.4402a8"
            ]
        ]
    },
    {
        "id": "1bf3ce16.c3ae02",
        "type": "inject",
        "z": "84f90166b555a1dd",
        "name": "Setpoint 80",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "setpoint",
        "payload": "80",
        "payloadType": "num",
        "x": 310.5,
        "y": 352,
        "wires": [
            [
                "e0cb2a8c.4402a8"
            ]
        ]
    },
    {
        "id": "f69bbf05.bdd49",
        "type": "inject",
        "z": "84f90166b555a1dd",
        "name": "enable",
        "props": [
            {
                "p": "payload",
                "v": "true",
                "vt": "bool"
            },
            {
                "p": "topic",
                "v": "enable",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "enable",
        "payload": "true",
        "payloadType": "bool",
        "x": 303,
        "y": 188,
        "wires": [
            [
                "e0cb2a8c.4402a8"
            ]
        ]
    },
    {
        "id": "143523b2.2f165c",
        "type": "inject",
        "z": "84f90166b555a1dd",
        "name": "disable",
        "props": [
            {
                "p": "payload",
                "v": "false",
                "vt": "bool"
            },
            {
                "p": "topic",
                "v": "enable",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "enable",
        "payload": "false",
        "payloadType": "bool",
        "x": 303.5,
        "y": 238,
        "wires": [
            [
                "e0cb2a8c.4402a8"
            ]
        ]
    },
    {
        "id": "5ec4239b.34e174",
        "type": "subflow:b4973237.46ab6",
        "z": "84f90166b555a1dd",
        "name": "",
        "x": 570,
        "y": 100,
        "wires": [
            [
                "de738fc5.75e4c8",
                "e0cb2a8c.4402a8"
            ]
        ]
    },
    {
        "id": "de738fc5.75e4c8",
        "type": "change",
        "z": "84f90166b555a1dd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pv",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 794,
        "y": 206,
        "wires": [
            [
                "9f58a52d.076dd"
            ]
        ]
    },
    {
        "id": "e94f888a.130a88",
        "type": "range",
        "z": "84f90166b555a1dd",
        "minin": "0",
        "maxin": "1",
        "minout": "0",
        "maxout": "25",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "Scale power",
        "x": 635,
        "y": 355,
        "wires": [
            [
                "f70949c8.aab988"
            ]
        ]
    },
    {
        "id": "9f58a52d.076dd",
        "type": "ui_chart",
        "z": "84f90166b555a1dd",
        "name": "",
        "group": "c45a83a3.d00908",
        "order": 0,
        "width": "6",
        "height": "6",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#cf0005",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 999,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "bef0a1f8.2e2cf",
        "type": "inject",
        "z": "84f90166b555a1dd",
        "name": "Clear chart on deploy",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "{\"data\":[]}",
        "payloadType": "json",
        "x": 560,
        "y": 423,
        "wires": [
            [
                "9079ffaf.4a096"
            ]
        ]
    },
    {
        "id": "9079ffaf.4a096",
        "type": "change",
        "z": "84f90166b555a1dd",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.data",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 796,
        "y": 423,
        "wires": [
            [
                "9f58a52d.076dd"
            ]
        ]
    }
]