flows.json
[
    {
        "id": "823a90b6444d4182",
        "type": "tab",
        "label": "Поток 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "62293450df182d18",
        "type": "modbus-client",
        "name": "",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "COM3",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "19200",
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "cee88e7a3fe7715b",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "145221dc63cdd3d5",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "cee88e7a3fe7715b",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "af766e4cc35c0f53",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ba154b0bc211bcf0",
        "type": "ui-group",
        "name": "Group 1",
        "page": "145221dc63cdd3d5",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "af766e4cc35c0f53",
        "type": "ui-theme",
        "name": "Theme Name",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "fb74d109b3ee753f",
        "type": "function",
        "z": "823a90b6444d4182",
        "name": "ADS1115 to uInt16",
        "func": "// Работа с ADS1115\n// Смотри \"Настройки\" функции\n// ADS1115 может работать в следующих режимах:\n// ads.setGain(GAIN_TWOTHIRDS); | 2/3х | +/-6.144V | 1bit = 0.1875mV    |   \n// ads.setGain(GAIN_ONE);       | 1х   | +/-4.096V | 1bit = 0.125mV     |  \n// ads.setGain(GAIN_TWO);       | 2х   | +/-2.048V | 1bit = 0.0625mV    |  \n// ads.setGain(GAIN_FOUR);      | 4х   | +/-1.024V | 1bit = 0.03125mV   |  \n// ads.setGain(GAIN_EIGHT);     | 8х   | +/-0.512V | 1bit = 0.015625mV  |  \n// ads.setGain(GAIN_SIXTEEN);   | 16х  | +/-0.256V | 1bit = 0.0078125mV |\nvar temp = msg.payload[0];\nvar analog_max = msg.payload[3];\nvar u = temp * 0.1875 / 1000.0;\nvar u_analog_max = analog_max * 0.1875 / 1000.0;\n///temp = temp * 6.144 / 5;\ntemp = analog_max / temp - 1;\ntemp = 4681 / temp; //сопротивление резистора\ntemp = temp / 99500; // сопротивление термистора при 25 гр.Цельсия\ntemp = Math.log(temp); // ln(R/Ro)\ntemp /= 4140 //коэффициент термистора\ntemp += 1.0 / (25 + 273.15); //номинальная температура термистора в Цельсии из Кельвинов\ntemp = 1.0 / temp; // Invert\ntemp -= 273.15;\ntemp = parseFloat(temp.toFixed(2))\nvar newMsg = { payload: temp, topic: \"3950\", u: u, u_analog_max: u_analog_max };\nflow.set(\"3950\", temp);\nreturn newMsg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 140,
        "wires": [
            [
                "0ff99a14ebfb9b10",
                "8778d74027af7dce",
                "3e02a7b2dbf6f53e",
                "d4df7bc2d1acc37d",
                "73382585b685ca5e"
            ]
        ]
    },
    {
        "id": "0ff99a14ebfb9b10",
        "type": "debug",
        "z": "823a90b6444d4182",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "5c1f434471a40538",
        "type": "inject",
        "z": "823a90b6444d4182",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "25",
        "payloadType": "num",
        "x": 210,
        "y": 560,
        "wires": [
            [
                "abafe58262cd70c3"
            ]
        ]
    },
    {
        "id": "abafe58262cd70c3",
        "type": "join",
        "z": "823a90b6444d4182",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 390,
        "y": 560,
        "wires": [
            [
                "adb84c4c34ab0b91"
            ]
        ]
    },
    {
        "id": "f3717be8817640c5",
        "type": "modbus-response",
        "z": "823a90b6444d4182",
        "name": "",
        "registerShowMax": 20,
        "x": 870,
        "y": 560,
        "wires": []
    },
    {
        "id": "eaa21c06efe4427e",
        "type": "modbus-read",
        "z": "823a90b6444d4182",
        "name": "Temp",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "4",
        "rate": "2000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "62293450df182d18",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 140,
        "wires": [
            [
                "fb74d109b3ee753f",
                "826e2c524e554fd6",
                "68b2e194ebd81ce8",
                "f3e88f5f9f04e025"
            ],
            []
        ]
    },
    {
        "id": "adb84c4c34ab0b91",
        "type": "modbus-write",
        "z": "823a90b6444d4182",
        "name": "",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "1",
        "quantity": "1",
        "server": "62293450df182d18",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 620,
        "y": 560,
        "wires": [
            [
                "f3717be8817640c5"
            ],
            []
        ]
    },
    {
        "id": "826e2c524e554fd6",
        "type": "debug",
        "z": "823a90b6444d4182",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 60,
        "wires": []
    },
    {
        "id": "438843f14e0e2a6c",
        "type": "debug",
        "z": "823a90b6444d4182",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 340,
        "wires": []
    },
    {
        "id": "68b2e194ebd81ce8",
        "type": "function",
        "z": "823a90b6444d4182",
        "name": "DS18B20",
        "func": "var temp = msg.payload[2] / 100;\nvar newMsg = { payload: temp, topic: \"DS18B20\" };\nflow.set(\"DS18B20\", temp);\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 280,
        "wires": [
            [
                "438843f14e0e2a6c",
                "94c5f166fc65cd0a",
                "8778d74027af7dce"
            ]
        ]
    },
    {
        "id": "94c5f166fc65cd0a",
        "type": "ui-text",
        "z": "823a90b6444d4182",
        "group": "ba154b0bc211bcf0",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "DS18B20",
        "label": "DS18B20",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "8778d74027af7dce",
        "type": "ui-chart",
        "z": "823a90b6444d4182",
        "group": "ba154b0bc211bcf0",
        "name": "Температура",
        "label": "chart",
        "order": 6,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Время",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Тепмература",
        "yAxisProperty": "temp",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 760,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "f3e88f5f9f04e025",
        "type": "function",
        "z": "823a90b6444d4182",
        "name": "Diff",
        "func": "var diff = flow.get(\"3950\") - flow.get(\"DS18B20\");\ndiff = parseFloat(diff.toFixed(2))\nvar newMsg = { payload: diff, topic: \"diff\" };\nreturn newMsg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 420,
        "wires": [
            [
                "6b035eeaf39f10be",
                "8b7e1f3750208737"
            ]
        ]
    },
    {
        "id": "6b035eeaf39f10be",
        "type": "ui-text",
        "z": "823a90b6444d4182",
        "group": "ba154b0bc211bcf0",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Diff",
        "label": "Diif",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 590,
        "y": 460,
        "wires": []
    },
    {
        "id": "8b7e1f3750208737",
        "type": "ui-chart",
        "z": "823a90b6444d4182",
        "group": "ba154b0bc211bcf0",
        "name": "Разница температур",
        "label": "Разница",
        "order": 7,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Время",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Температура",
        "yAxisProperty": "temp",
        "yAxisPropertyType": "property",
        "ymin": "-1.5",
        "ymax": "1.5",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 840,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "d4df7bc2d1acc37d",
        "type": "ui-text",
        "z": "823a90b6444d4182",
        "group": "ba154b0bc211bcf0",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Напряжение",
        "label": "Напряжение",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "u",
        "valueType": "msg",
        "x": 750,
        "y": 80,
        "wires": []
    },
    {
        "id": "d164a077dc599469",
        "type": "debug",
        "z": "823a90b6444d4182",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 340,
        "wires": []
    },
    {
        "id": "3e02a7b2dbf6f53e",
        "type": "ui-text",
        "z": "823a90b6444d4182",
        "group": "ba154b0bc211bcf0",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "3950",
        "label": "3950",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 750,
        "y": 180,
        "wires": []
    },
    {
        "id": "73382585b685ca5e",
        "type": "ui-text",
        "z": "823a90b6444d4182",
        "group": "ba154b0bc211bcf0",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "U analog",
        "label": "Напряжение",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "u_analog_max",
        "valueType": "msg",
        "x": 740,
        "y": 20,
        "wires": []
    }
]